body {
    background-image: url('https://s1.1zoom.me/big0/796/Pistols_Alison_Carroll_Cosplay_Red_background_605912_1280x800.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.inputU {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.inputE {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.inputP {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.inputnumber {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

button {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    
}

a {
    text-decoration: none;
    color: #007bff;
}

.container {
    margin: 10px 0;
}